.tab {
  position: fixed;
  left: 0;
  top: 125px;
  z-index: 12;

  @include breakpoint(sm) {
    display: none;
  }

  &__item {
    position: relative;

    &:last-child {
      .tab__btn {
        width: 154px;
        height: 62px;
        background-color: #c366d1;
        z-index: 1;

        &:hover {
          transform: translateX(-10px);
        }
      }

      .tab__icon {
        background: #c366d1;
        width: 115%;
      }

      .tab__content_border {
        padding: 0 10px;
      }

      .tab__content {
        width: 255px;

        .sliderItem {
          margin: 10px auto 0;
          max-width: 100%;
          box-shadow: none;
        }

        .votes {
          color: #b2b2b2;
          font-size: 14px;
        }

        .sliderItem__counter {
          margin-bottom: 15px;
        }

        .sliderItem__btns .btn {
          width: 175px;
          height: 35px;
          margin-bottom: 10px;
        }

        .sliderItem__content {
          padding: 0 20px 20px;
        }

        .count__number {
          color: #ffcd00;
        }

        .count {
          border: none;
        }

        .sliderItem__title {
          text-align: center;
          font-size: 22px;
        }

        .sliderItem__btns {
          flex-direction: column;
        }
      }
    }
  }

  &__btn {
    width: 154px;
    height: 62px;
    background-color: #8583df;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    box-sizing: border-box;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: all 1s ease;
    z-index: 2;
    box-shadow: -0.3px 8px 13px 0 rgba(24, 24, 24, 0.17);

    &:hover {
      transform: translateX(-10px);
    }

    img {
      display: block;
      margin-right: 5px;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    color: #fff;
  }

  &__content {
    position: absolute;
    left: 10px;
    top: 0;
    z-index: 3;
    width: 300px;
    background: #fff;
    box-sizing: border-box;
    display: none;

    &_border {
      box-shadow: 0 4px 14px rgba(0, 0, 0, 0.48);
      padding: 0 20px;
      z-index: 4;
      position: relative;
    }
  }

  &__list {
    padding-bottom: 10px;

    li {
      padding: 10px 0;
      border-bottom: 1px solid #cdcdcd;

      a {
        color: #999;
        font-size: 16px;

        &:hover {
          color: #000;
        }
      }

      &:last-child {
        border-bottom: none;
      }

      &.active a {
        color: #000;
      }
    }
  }

  &__title_2 {
    text-align: center;
    padding: 10px 0;
    color: #fff;
    z-index: 4;
    position: relative;
  }

  &__icon {
    position: absolute;
    background: #8583df;
    width: 112%;
    height: 40px;
    left: 0;
    z-index: 3;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 3px 7px 0px #bababa;

    .tab__icon_i {
      cursor: pointer;
      width: 20px;
      height: 20px;
      right: 10px;
      position: absolute;
      top: 20px;
      z-index: 4;
    }

    span {
      background: #fff;
      width: 20px;
      height: 1px;
      display: block;

      &:first-child {
        transform: rotate(45deg);
      }

      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}