<footer>
  <div class="footer">
    <div class="footer__block">
      <div class="container">
        <div class="footer__section">
          <a href="/" class="logo">
            <img src="img/logo.png" alt="#" title="#">
          </a>
          <div class="footer__txt">
            Our platform has already made all the necessary steps.
            Read professional reviews to find out what dating service
            suits best for you.
          </div>
        </div>
        <div class="footer__section">
          <div class="menu footer__menu">
            <ul>
              <li>
                <a href="#">About us</a>
              </li>
              <li class="empty">
                <a href="#">&nbsp;</a>
              </li>
              <li>
                <a href="#">Sitemap</a>
              </li>
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              <li>
                <a href="#">Terms of Use</a>
              </li>
              <li>
                <a href="#">Affiliate Desclaimer</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__section">
          <a href="mailto:info@russiansbrides.com" class="footer__mail">info@russiansbrides.com</a>
          <img src="img/Logo_DCMA.png" alt="#" title="#" class="footer__img">
        </div>
        <div class="footer__section">
          <div class="btn">Find your Bride</div>
        </div>
      </div>
    </div>
    <div class="copyrigth">
      <div class="container">
        Copyright © 2019 AsiaDatingClub.com
      </div>
    </div>
  </div>
</footer>