.page-404{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: calc(100vh - 400px);
  padding: 70px 0;
  @media(max-width:700px){
    flex-direction: column;
    padding: 50px 15px;
  }
  &_lt{
    max-width: 500px;
    text-align: center;
    @media(max-width:700px) {
     order: 2;
    }
  }
  &_title {
    font-size: 159px;
    font-weight: bold;
    color: #ff6651;
    padding-bottom: 15px;
    @include breakpoint(lg) {
      font-size: 97px;
    }
  }
  &_subtitle {
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
  }
  &_text {
    font-size: 20px;
    padding: 10px 0;
    @include breakpoint(md) {
      font-size: 18px;
    }
  }
  &_btn {
    text-transform: uppercase;
    margin: 10px auto;
    @include breakpoint(md) {
      font-size: 18px;
      width: 215px;
      height: 40px;
    }
  }
  &_rt {
    @media(max-width:700px) {
      order: 1;
    }
    img{
      max-width: 100%;
      display: block;
      height: auto;
    }
  }
}