.blog{
  &__top{
    background-color: #f1f6fc;
    padding: 40px 0 50px;
    @include breakpoint(sm) {
      padding: 25px 0;
    }
  }
  &__title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 0 14px;
  }
  &__subtitle {
    max-width: 450px;
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    margin: 20px auto;
    @include breakpoint(sm) {
      padding: 0 12px;
    }
  }
  &__section {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.post {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 9px 24px 0 rgba(0, 0, 0, 0.28);
  overflow: hidden;
  width: 365px;
  margin: 10px 0;
  @include breakpoint(xl) {
    width: 320px;
  }
  @media(max-width:680px){
    width: 100%;
  }
  @media(max-width: 575px) {
    width: 100%;
    margin: 20px auto;
  }
  @media(max-width: 375px) {
    width: calc(100% - 40px);
  }
  @media(max-width: 360px) {
    width: calc(100% - 30px);
  }
  &__img {
    display: block;
    overflow: hidden;
    max-width: 540px;
    width: 100%;
    border-radius: 0;
    @include breakpoint(xl) {
      max-width: 500px;
    }
    @media(max-width:680px) {
      max-width: 100%;
    }
    img{
      width: 100%;
      height: auto;
      transition: all 1s ease;
      border-radius: 0;
      display: block;
      &:hover{
        transform: scale(1.1);
      }
    }
  }
  &__content {
    padding: 20px 20px 35px;
  }
  &__title {
    font-size: 26px;
    font-weight: bold;
    color: #000;
    padding: 10px 0;
    display: block;
    @include breakpoint(xs) {
      font-size: 25px;
    }
  }
  &__desc {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 5px;
  }
  &__btn {
    padding: 10px 0;
    display: block;
    font-family: 'SFUIDisplay';
    font-size: 16px;
    color: $violet;
    position: relative;
    padding-left: 20px;
    transition: all 1s ease;
    &:before{
      content: '';
      border-bottom: 1px solid rgba(104, 102, 209, 0.68);
      border-right: 1px solid rgba(104, 102, 209, 0.68);
      display: block;
      height: 7px;
      position: absolute;
      left: 0;
      top: 47%;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg) translateY(-50%);
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      width: 7px;
    }
    &:hover{
      transform: translateX(5px);
    }
  }
}

.post__info {
  font-family: 'SFUIDisplay';
  display: flex;
  align-items: center;
  color: #b3b3b3;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;

  &-i {
    padding: 0 12px;
    position: relative;

    &:before {
      content: '\f06e';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 900;
      font-family: 'Font Awesome 5 Free';
    }

    &:nth-child(1) {
      padding-left: 20px;

      &:before {
        opacity: 0.6;
        font-size: 11px;
      }
    }

    &:nth-child(3),
    &:nth-child(2) {
      &:before {
        content: '\f111';
        font-size: 4px;
        opacity: 0.8;
      }
    }
  }
}

.post-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  @media(max-width:900px) {
    flex-direction: column;
  }
  @media(max-width: 575px){
    width: 100%;
    margin: 20px auto;
  }
  @media(max-width: 375px) {
    width: calc(100% - 40px);
  }
  @media(max-width: 360px) {
    width: calc(100% - 30px);
  }
  .post__content {
    width: 50%;
    padding: 0 30px;
    @include breakpoint(xl) {
      width: 100%;
      padding: 20px 20px 35px;
      box-sizing: border-box;
    }
  }
  .post__img{
    @include breakpoint(xl) {
      max-width: 100%;
      border-radius: 0;
    }
    img{
      @include breakpoint(xl) {
        border-radius: 0;
      }
    }
  }
}

.decorationLine {
  height: 1px;
  background: #adb9c8;
  width: 99%;
  margin: 0 auto;
  @include breakpoint(xs) {
    width: calc(100% - 45px);
  }
}
